body{
    font-family: 'Poppins' , sans-serif;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    background-image: url(Image20240924163604.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 100%;
    margin: 100px auto 0 auto;
}
.header{
    padding: 100px 50px 100px 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgba(178, 34, 34, 0.75);
    transition: 0.4s ease-in-out;
}
header:hover{
    transform: scale(1.1);
    background-color: rgba(139, 0, 0, 0.75);
}
h1{
    font-weight: 600;
    line-height: 1.2;
}
p{
    font-size: 16px;
    font-weight: 200;
}
.text-center{
    text-align: center;
}
.description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0)
}
form{
    background: rgba(32, 32, 32, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.form-group{
    margin: 0 auto 0 auto;
    padding: 10px;
}
label{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
}
|input,
button,
select,
textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-control{
    display: block;
    width: 100%;
    height: 30px;
    padding: 8px 8px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2 rem rgba(0, 123, 255, 0.25);
}
.input-radio,
.input-checkbox{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
.input-textarea{
    min-height: 120px;
    width: 100%;
    padding: 10px;
    resize: vertical;
}
button{
    border: none;
}
.submit-button{
    display: block;
    width: 100%;
    padding: 12px;
    background: #37af65;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s;
}
.submit-button:hover{
    background: rgba(173, 255, 47, 0.7);
}